<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title> Transaction Cancelled</title>

    <style>
        h1 {
            color: limegreen;
            font-family: "Lemon/Milk";
            font-size: xx-large;
            border: 1px solid rgb(11,156,49);
            padding: 10px;
            text-align: center;
            margin: 50px;
            background: rgba(156, 274, 171, 0.2);
            align: justify;
        }

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
<img src="https://cdn2.iconfinder.com/data/icons/web-and-apps-interface/32/OK-512.png" alt= "Success" align="middle" width="200px"/>
<h1> Transaction is Success and your order has been Placed. <br>Please contact us if you have any Queries.</h1>
</body>
</html>